CookieCompany.Client/Connected Services/Proxy/ProductsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://miservicio.com" elementFormDefault="qualified" targetNamespace="https://miservicio.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMi_x0020_Servicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mi_x0020_Servicio" nillable="true" type="tns:Mi_x0020_Servicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMi_x0020_Servicio" nillable="true" type="tns:ArrayOfMi_x0020_Servicio" />
  <xs:complexType name="Mi_x0020_Servicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mi_x0020_Servicio" nillable="true" type="tns:Mi_x0020_Servicio" />
</xs:schema>