CookieCompany.Client/Connected Services/Proxy/ProductsService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://miservicio.com" elementFormDefault="qualified" targetNamespace="https://miservicio.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMiServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MiServicio" nillable="true" type="tns:MiServicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMiServicio" nillable="true" type="tns:ArrayOfMiServicio" />
  <xs:complexType name="MiServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MiServicio" nillable="true" type="tns:MiServicio" />
</xs:schema>